#newContactContainer {
	min-width: 500px;
    width: 50vw;

    background-color: #00000080;
    color: #dcb2ff;

    margin-top: 2vh;
    padding: 25px 50px 50px 50px;;
    border-radius: 15px;
}

#newContactContainer > h1 {
	margin: 0 0 50px 0;
	text-align: center;
}

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
}

#submitButton {
	padding: 8px;
    font-size: 18px;
    width: 18%;
    border: none;
    border-radius: 12px;
    background-color: #9c72ff;
    color: white;
    cursor: pointer;

    transition: background-color 300ms ease
}

#successPanel {
    width: auto;
    text-align: center;
    margin-top: 25px;
    color: white;
    background-color: #ff7100;
    padding: 20px 0;
    font-size: 1.2em;
    border-radius: 15px;
}

#submitButton:hover {background-color: #7657c1}
#submitButton:active {background-color: #563a9b}